{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.764"}
        datascript/datascript {:mvn/version "1.0.7"}
        re-frame/re-frame {:mvn/version "1.2.0"}
        denistakeda/posh {:mvn/version "0.5.7}
        }
 :paths ["src"]}
